<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_FILE" value="logs/windows-tools.log"/>
	<property name="FILE_LOG_PATTERN" value="[%-5level] %d{yyyy-MM-dd HH:mm:ss.sss} %c %M %L %thread: %m%n"/>
	<!--  配置控制台 appender  -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<!-- 日志输出目标的配置
             默认：System.out 表示黑色字体输出日志
             设置：System.err 表示红色字体输出日志
          -->
		<target>
			System.out
		</target>
		<!--  配置日志输出格式  -->
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--  引用 输出格式的 通用配置属性  -->
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>
	<!-- 正常日志文件 -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
		<file>${LOG_FILE}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!--日志文件输出的文件名 -->
			<fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxHistory>15</maxHistory>
			<maxFileSize>100MB</maxFileSize>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
	</appender>
	<!-- 错误日志文件 -->
	<appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
		<file>${LOG_FILE}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!--日志文件输出的文件名 -->
			<fileNamePattern>${LOG_FILE}.error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxHistory>15</maxHistory>
			<maxFileSize>100MB</maxFileSize>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
	</appender>
	<root level="All">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="FILE"/>
		<appender-ref ref="ERROR_FILE"/>
	</root>
</configuration>